name: okt_app
version: 0.1.0
publish_to: 'none'

environment:
  sdk: '>=3.4.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  supabase_flutter: ^2.6.0
  flutter_blue_plus: ^1.34.5
  go_router: ^14.1.4
  flutter_riverpod: ^2.5.1
  flutter_dotenv: ^5.1.0
  intl: ^0.19.0
  shared_preferences: ^2.2.3

  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
